extends layout

append stylesheets
  link(href="/stylesheets/chat.css", rel="stylesheet")


block content
  div(ng-controller="chatController")
    h1 #{user.name} #{user.surname}

  append javascipts
    script(src="/javascripts/controller/chatController.js")
