extends layout

append stylesheets
  link(href="/stylesheets/index.css", rel="stylesheet")

block content
  div(ng-controller="indexController")
  .modal
    .modal__inner
      .modal__header
        h2 Welcome, please login.
      .modal__footer
        a(href='/auth/google')
          i.fa.fa-google-plus(aria-hidden='true')
          | Login with Google+




  append javascipts
    script(src="/javascripts/controller/indexController.js")
